


@media (min-width: 320px) and (max-width: 375px)
{
        .first_layer {
            height: auto;
        }

        .upper_p {
            margin-left: 5% ;
            font-size: x-large;
        }
        .second_layer1, .second_layer2 {
            flex-direction: column;
        }

        .picture1, .picture2, .picture3,
        .picture4, .picture5, .picture6 {
            width: 250px; height: 250px;
        }

        .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
            height: 55px;
            width: 55px;
        }

        .text1, .text2, .text3, .text4, .text5, .text6 {
            font-size: x-large; margin: 15px 0 5px 0; width: 100%;
            font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
        } 

        .text_description1, .text_description2, 
        .text_description3, .text_description4, 
        .text_description5, .text_description6 {
        font-size: large;
        }
}




@media (min-width: 376px) and (max-width: 424px)
{       
        .first_layer {
            height: auto;
        }
        .upper_p {
            margin-left: 10% ;
            font-size: x-large;
        }
        .second_layer1, .second_layer2 {
            flex-direction: column;
        }


        .picture1, .picture2, .picture3,
        .picture4, .picture5, .picture6 {
            width: 300px; height: 300px;
        }
}



@media (min-width: 425px) and (max-width: 767px)
{
    .second_layer1, .second_layer2 {
        flex-wrap: wrap; 
    }

        .upper_p {
            margin-left: 5% ;
        }
        .picture1, .picture2, .picture3,
        .picture4, .picture5, .picture6 {
            
            min-width: calc(80% - 10px);
        }
        .first_layer {
            height: auto;
        }
    
}



@media (min-width: 768px) and (max-width: 819px) 
{
    .first_layer {
        height: 500px;
    }

    .picture1, .picture2, .picture3, .picture4, .picture5, .picture6 {
        height: 170px; 
        width: 170px;
        padding: 10px;
    }

    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
        height: 50px;
        width: 50px;
    }

    .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: medium; margin: 10px 0 10px 0; width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif, 'bold';
    } 

    .text_description1, .text_description2, 
    .text_description3, .text_description4, 
    .text_description5, .text_description6 {
        font-size: 10px;
    }
}



@media (min-width: 820px) and (max-width: 1023px) 
{   
    .first_layer {
        height: 550px;
    }
    .upper_p {
        margin-left: 5% ;
    }
    .picture1, .picture2, .picture3, .picture4, .picture5, .picture6 {
        height: 200px; 
        width: 200px;
    }

    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
        height: 55px;
        width: 55px;
    }
   
    .text_description1, .text_description2, 
    .text_description3, .text_description4, 
    .text_description5, .text_description6 {
        font-size: 11px;
    }

    .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: large; margin: 15px 0 10px 0; width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
    } 
}




@media (min-width: 1024px) and (max-width: 1122px) 
{

    .first_layer {
        height: 680px;
    }

    .upper_p {
        margin-left: 5% ;
    }

    .picture1, .picture2, .picture3, .picture4, .picture5, .picture6 {
        
        height: 250px;  
        width: 250px;
    }

    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
        height: 70px;
        width: 70px;
    }

    .text_description1, .text_description2, 
    .text_description3, .text_description4, 
    .text_description5, .text_description6 {
        font-size: small;
    }

}


