
* {padding: 0; margin: 0; box-sizing: border-box;}

main {margin-top: 70px}
header {   
    display: flex;
     align-items: center;
    position: fixed;
     left: 0; top: 0;
    background-color: #f2f2f2;
     width: 100%;
     height: 70px;
     z-index: 1000;
} .header_logo {
    width: auto; height: 40px;display: flex; position: relative; 
} .icon {
    width: auto; height: 40px; position: absolute;
    left: 40px;
}



.text_zone
{   
    position: relative;
    display: flex;
     align-items: center;
    height: 150px;
    width: 100%;
    background-color: #f2f2f2;
} .upper_p {
  margin-left: 10% ;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-size: xx-large;
}



.first_layer
{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     gap: 50px;
    width: 100%;
    height: 800px;
    padding-bottom: 100px;
    background-color: #f2f2f2;
} 



.second_layer1, .second_layer2
{
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 50px;
    width: auto;
    height: auto; 
    background-color: #f2f2f2;
}



.picture1, .picture2, .picture3, .picture4, .picture5, .picture6
{
    height: 300px;
    width: 300px;
     padding: 20px;
    background-color: white;
    border-radius: 0 20% 0 0;
}
.circle1, .circle2, .circle3, .circle4, .circle5, .circle6
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(52, 181, 255);
    display: flex;
    align-items: center;
    justify-content:center;
} img { 
    height: 60%; width: 60%; 
} .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: x-large; margin: 15px 0 15px 0; width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
} 
.text_description1, .text_description2, 
.text_description3, .text_description4, 
.text_description5, .text_description6 {
    font-size: 2vh;
}


footer {
    display: flex;
     align-items: center;
     justify-content: center;
    width: 100%;
    height: 200px;
    background-color: black;
} footer p {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

